{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended", 
        "prettier",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": ["error", {
          "singleQuote": true,
          "trailingComma": "all",
        
          "endOfLine": "auto",
          "arrowParens": "avoid",
          "tabWidth": 2
        }],
            
        "arrow-body-style": "off",
        "prefer-arrow-callback": "off",

        "@typescript-eslint/array-type": 0,
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-unused-vars": "off",
        
        "arrow-parens": "off",
        "curly": "off",
        "no-case-declarations": "off",

        "quotes": "off",
        "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "prefer-rest-params": "off",
        "no-bitwise": "off",
        "no-console": "off",
        "no-empty": ["error", { "allowEmptyCatch": true }],
        
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        
        "space-before-function-paren": "off"
    },
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    }
  }
  