language: node_js
before_install:
  - "npm install npm -g"
node_js:
  - "0.11"
  - "0.10"
env:
  - TEST_SUITE=unit
  - TEST_SUITE=integration
  - TEST_SUITE=coveralls
script: "npm run-script $TEST_SUITE"
